<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
      <table>
        <tr>
          <td class="left-60">
            <p class="text-left">Hello there, I am Yuen Kwan LI (Xavier), a System Analyst from Hong Kong. </p>
            <p class="text-left">I've spent the past decade working in the IT industry and am now excited to take my career to the next level by studying software engineering technology, with a focus on AI.</p> 
            <p class="text-left">I've always been fascinated by the potential of AI and I am eager to apply my experience and new skills to stay on the cutting edge of technology. I'm excited to be here and looking forward to learning from and working with everyone.</p>      
          </td>
          <td class="right-20">
            <p><img src="./assets/images/pic.jpg" class="img-thumbnail" width="80%" height="80%"/></p>
          </td>
        </tr>
      </table>
      <iframe src="./assets/docs/Resume.pdf" width="95%" height="450px"></iframe>
      <p class="technology"><a href="./assets/docs/Resume.pdf" target="_blank"> Click to view my Resume in a new window</a></p>

    </div>
  </main>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




