<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      
    </div>
  </main>
  
  <p>
    Hello, my name is Xavier and I am from Hong Kong. 
    I've spent the past decade working in the IT industry 
    and am now excited to take my career to the next level 
    by studying software engineering technology, with a focus on AI. 
    I've always been fascinated by the potential of AI 
    and I am eager to apply my experience and new skills 
    to stay on the cutting edge of technology. 
    I'm excited to be here and looking forward to 
    learning from and working with everyone.
  </p>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




