<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %> </h1>
    </div>
    <!-- LIst of projects -->
    <div class="accordion accordion-flush" id="projectList">
      <div class="accordion-item">
        <!-- Project 1 -->
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           System "E" (2021-2022)
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#projectList">
          <div class="accordion-body">
            <div class="left">
            <strong>As the System Analyst and team leader, </strong> 
            I designed resolutions and led a team of devlopers to address the operation needs for an Examination Personnel Allocation & Centre Management System. Our prompt actions facilitated smooth business operations agianst the COVID-19 pandemic.
            <br/><br/>
            Techonology used: JSF, PL/SQL
            </div>
            <div>
            <img src="https://img.freepik.com/free-vector/college-class-concept-illustration_114360-10544.jpg" width="30%" height="30%"/>
            </div>
          </div>
        </div>
      </div>
      <!-- Project 2 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Module "T" (2012-2015)
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#projectList">
          <div class="accordion-body">
            <div class="left">
              <strong>Being the only Analyst Programmer in the team, </strong> 
              I worked with the System Analyst closely to develop a brand-new all-in-one module that do Fees Calculation for over 30 different charging patterns. This module successfully saved significant amounts of manual work in calculations.
              <br/><br/>
              Techonology used: PeopleCode, PL/SQL
              </div>
              <div>
              <img src="https://img.freepik.com/free-vector/finance-department-employees-are-calculating-expenses-company-s-business_1150-41782.jpg" width="30%" height="30%"/>
              </div>  
          </div>
        </div>
      </div>
      <!-- Project 3 -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
           Project "P" (2009-2010) 
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#projectList">
          <div class="accordion-body">
            <div class="left">
              <strong>Senior Programmer </strong> 
              like me worked with a team of developers, rushing for a revamp project for several internal applications. All systems revamp were completed in time.  
              <br/><br/>
              Techonology used: Flash, Java, PL/SQL
              </div>
              <div>
              <img src="
              https://img.freepik.com/free-vector/designers-are-working-desing-web-page-web-design-user-interface-user-experience-content-organization_335657-4403.jpg" width="30%" height="30%"/>
              </div>  
          </div>
        </div>
      </div>
    </div>

  </main>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




