<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
      <!-- List of Services in Carousel autoplay -->
      <div id="carouselAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="carousel-caption d-none d-md-block mx-auto">
              <h2 class="display-6">AI Integration</h2>
              <p></p>
            </div>
            <img src="https://img.freepik.com/premium-photo/future-artificial-intelligence-robot-cyborg_31965-6980.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="display-6">Sofware Architecture Design</h2>
              <p></p>
            </div>
            <img src="https://img.freepik.com/free-photo/hands-engineer-working-blueprint-construction-concept-engineering-tools-vintage-tone-retro-filter-effect-soft-focus-selective-focus_1418-482.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="display-6">Quality Management</h2>
              <p></p>
            </div>
            <img src="https://img.freepik.com/free-photo/standard-quality-control-collage-concept_23-2149595850.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="display-6">IT Consultancy</h2>
              <p></p>
            </div>
            <img src="https://img.freepik.com/free-photo/workplace-results-professional-report-accounting-during_1418-61.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="display-6">Software Development</h2>
              <p></p>
            </div>
            <img src="https://img.freepik.com/premium-photo/developing-programmer-development-website-design-coding-technologies-working-software-company-office_18497-1234.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




