<!--  
  File Name:     about.ejs
  Student Name:  Yuen Kwan LI
  Student ID:    301228849
  Date:          05-FEB-2023  
-->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  
  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
      <div class="form-canvas">
        <table class="left-1em">
          <tr>
            <!-- Content part -->
            <td class="left-60">
              <h6>Hello there, I am Yuen Kwan LI (Xavier), a System Analyst from Hong Kong. </h6>
              <h6>I've spent the past decade working in the IT industry and am now excited to take my career to the next level by studying software engineering technology, with a focus on AI.</h6> 
              <h6>I've always been fascinated by the potential of AI and I am eager to apply my experience and new skills to stay on the cutting edge of technology. I'm excited to be here and looking forward to learning from and working with everyone.</h6>      
            </td>
            <!-- Image part -->
            <td class="right-20">
              <p class="left-1em"><img src="./assets/images/pic.jpg" class="img-thumbnail" width="85%" height="90%"/></p>
            </td>
          </tr>
        </table>
        <br>
        <!-- Resume PDF preview and link -->
        <iframe src="./assets/docs/Resume.pdf" width="95%" height="450px" class="left-1em"></iframe>
        <p class="left-1em"><a href="./assets/docs/Resume.pdf" target="_blank"> Click to view in new window >></a></p>
      </div>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




