<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <h1 class="display-4"><%= title %></h1>
    <div class="form-canvas">
        <div class="row">
            <div class="offset-md-1 col-md-11">                
                <br>
                <table class="table table-bordered table-striped table-hover">
                    <!-- Header Row-->
                    <tr class="d-flex">
                        <th class="text-center col-2">Name</th>
                        <th class="text-center col-2">Contact Number</th>
                        <th class="text-center col-3">Email Address</th>
                        <!-- <% if (typeof displayName == 'string' && displayName) { %> -->
                        <th class="text-center col-1"></th>
                        <th class="text-center col-1"></th>
                        <!-- <% } %> -->
                    </tr>

                    <!-- Repeatable Template Row -->

                    <% for(let count = 0; count < ContactList.length; count++) { %>
                        <tr class="d-flex">
                            <td class="text-center col-2"><%= ContactList[count].contact_name %></td>
                            <td class="text-center col-2"><%= ContactList[count].contact_number %></td>
                            <td class="text-center col-3"><%= ContactList[count].email_address %></td>
                            <!-- <% if (typeof displayName == 'string' && displayName) { %> -->
                            <td class="text-center col-1">
                                <a href="/contactList/update/<%= ContactList[count]._id %>" class="btn btn-primary btn-sm">
                                <i class="fas fa-pencil-alt"></i> Edit</a>
                            </td>
                            <td class="text-center col-1">
                                <a href="/contactList/delete/<%= ContactList[count]._id %>" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Delete</a>
                            </td>
                            <!-- <% } %> -->
                        </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </div>
  </main>
  
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  
